extends layout

block content
	a(href="/")
		h1= title
	div(class='row')
		form(name="upload", method="post", action='/upload' enctype="multipart/form-data")
			input(type="file", name="image", accept="image/*" class='btn btn-link' id='image-file')
			input(type="submit", value="UPLOAD" class='btn btn-link')

	for val in files
		a(href='/' + val data-toggle='modal' data-target='#myModal')
			img(src='uploads/' + val id='image-thumb')
	div(class='modal fade' id='myModal' role='dialog')
		div(class='modal-dialog')
			div(class="modal-content")
