doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class='container')
			block content
	script(src='/javascripts/jquery.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='https://cdn.socket.io/socket.io-1.4.5.js') 
	script(src='/javascripts/scripts.js')